* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(204, 202, 202);
}

header {
    background-color: white;
    color: rgb(58, 57, 57);
    padding: 10px;
}

nav {
    background-color: black;
    color: white;
    padding: 10px;
}
nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
nav a:hover {
    background-color: whitesmoke;
    color: black;
    transition-duration: 0.6s;
}

main {
    background-color: white;
    max-width: 1100px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.26);
}

section {
    padding: 10px;
    color: black;
}
section.imagem {
    height: 50vh;
}
section.imagem > h2, p{
    text-align: right;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.452);
}
section#img01 {
    background: black url('../imagens/mountain-sea-low.jpg') right center no-repeat fixed;
    background-size: cover;
}
section#img02 {
    background: black url('../imagens/castle-snow.jpg') top center no-repeat fixed;
    background-size: cover;
}

img {
    display: inline-block;
    max-height: 200px;
    max-width: 300px;
    padding: 10px;;
}

footer {
    background-color: black;
    padding: 5px;
    margin-top: 10px;
}
footer > p, a {
    color: white;
    text-align: center;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}